body{
    font-family: 'Segoe UI', sans-serif;
    background:#f5f5f5;
    margin:0;
    color:#333
}

header{
    background-color:navy;
    color:white;
    padding:20px;
}

header h1{
    margin:0;
}

nav ul{
    list-style: none;
    padding:0;
    display: flex;
    gap:15px;
    margin-top: 10px;
}

nav a{
    color:white;
    text-decoration: none;
    font-weight: 500px
}

.hero{
    background:#95c4fa;
}